name: Docker Build & Push

on:
  push:
    branches: ["docker"]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: maven:3.9.6-eclipse-temurin-21
    steps:
    - name: Checkout codigo
      uses: actions/checkout@v4
    
    - name: Executar testes no container
      run: mvn -B verify --file pom.xml

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout codigo
      uses: actions/checkout@v4

    - name: Configurar Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login no Docker Hub
      uses: docker/login-action@v3
      with: 
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build e Push para Docker Hub
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/api-filosofia:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
